*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-fluid{
    border: 2px solid black;
}
.container{
    border: 3px solid brown;
}
.row{
    border: 3px solid green;
}

#a1{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("https://images.ctfassets.net/pmzhtobns06n/3F9IIgfAPoM1Ca1Qgjf6v4/4bfd526b19a31990ea96d4712f0cc604/Group_4600.png?fm=webp&q=80");
    height: 100vh;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}

.navbar {
    background: transparent;
    box-shadow: 0 4px 6px rgba(22, 22, 26, 0.18);
  }
  .navbar .navbar-nav .nav-link {
    color: white;
  }
  .btn-outline-dark {
    border-radius: 0;
  }
  .btn-outline-dark:focus {
    box-shadow: none;
  }
  @media screen and (max-width: 768px) {
    .btn-outline-dark {
      border: none;
      padding: 0;
      outline: none;
    }
  
    .btn-outline-dark:hover {
      background: none;
      color: gray;
    }
  }


  input{
    background-color: transparent;
    border: 1px none;
  }

  ::placeholder{
    padding-left: 10px;
    color: #D2C1E0;
    /* color: white; */
    font-family: sans-serif;
  }

  i{
    color: white;
    font-family: 10px;
  }
  